extends ../common/bootstrap_vue.pug

block content
  block content

  div.container

    ul.nav
      li.nav-item
        b
          a.nav-link= locals.site.title
      each val in locals.site.siteMenu
        li.nav-item
          a.nav-link(href=val.link)= val.title

    .container
    
    h1 #{site.title} Authentication

    #carolinaVueApp
block append js
  script(src='/static/carolinaAuthenticationApp/vue-app.js')