
<h2>{{ appName }}/{{ modelName }}: {{ modelKey }}</h2>

<hr class="my-4">

<div *ngFor="let fieldObj of fieldObjects; let i = index">
  <div class="row">
    <div class="col-md-3">
      <b>{{ fieldObj.data.attributes.name }}</b>
    </div>
    <div class="col-md-9" *ngIf="fieldObj.data.attributes.hidden==true">
      <span class="badge badge-warning">HIDDEN</span>
    </div>
    <div class="col-md-9" *ngIf="fieldObj.data.attributes.hidden!=true">
      <div class="form-group">
        <div *ngIf="fieldObj.data.type=='bool'">
          <input class="form-control" type="checkbox" [(ngModel)]="fieldObj.value" [disabled]="!fieldObj.data.attributes.adminEdit"/>
        </div>
        <div *ngIf="fieldObj.data.type=='date'">
          <input class="form-control" type="datetime-local" [ngModel]="fieldObj.value | date:'yyyy-MM-ddTHH:mm'" (ngModelChange)="fieldObj.value = $event" [disabled]="!fieldObj.data.attributes.adminEdit"  />
        </div>
        <div *ngIf="fieldObj.data.type=='string'">
          <input class="form-control" type="text" [(ngModel)]="fieldObj.value" [disabled]="!fieldObj.data.attributes.adminEdit" />
        </div>
        <div *ngIf="fieldObj.data.type=='hash'">

          <p>
            The original value of this field is not available to you.
            Leave this field blank to leave it unchanged.
          </p>

          <input class="form-control" type="password" [(ngModel)]="fieldObj.value" [disabled]="!fieldObj.data.attributes.adminEdit" />
        </div>
        <div *ngIf="fieldObj.data.type=='list'">
          <input class="form-control" type="text" [(ngModel)]="fieldObj.value" [disabled]="!fieldObj.data.attributes.adminEdit"/>
        </div>
        <div *ngIf="fieldObj.data.type=='choice'">
          <select class="form-control" [(ngModel)]="fieldObj.value" [disabled]="!fieldObj.data.attributes.adminEdit">
            <option *ngFor="let option of fieldObj.data.attributes.options" [ngValue]="option[1]">{{ option[0] }}</option>
          </select>
        </div>
        <div *ngIf="fieldObj.data.type=='code'">
          <codemirror [(ngModel)]="fieldObj.value" [config]="{lineNumbers:true,mode:fieldObj.data.attributes.language}"></codemirror>
        </div>
      </div>
    </div>
  </div>

  <hr class="my-4">
</div>

<button class="btn btn-primary" (click)="update()">Submit</button>
<a class="btn btn-secondary" [routerLink]="['/view', appName, modelName, modelKey]">Cancel</a>

