doctype html
html(lang=en)
  head
    title #{site.title}
    link(
      rel='icon'
      href='/static/favicon.ico'
    )
    block head
    block css
  body
    block content
    block foot
    block js